{
  "openapi": "3.0.0",
  "info": {
    "title": "Mittwald MCP Tools API",
    "description": "MCP tool definitions and specifications for Mittwald hosting platform",
    "version": "1.0.0",
    "contact": {
      "name": "Mittwald Support",
      "url": "https://mittwald.de",
      "email": "support@mittwald.de"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.mittwald.de",
      "description": "Mittwald API Server"
    }
  ],
  "paths": {
    "/tools/mittwald_app_copy": {
      "post": {
        "summary": "Copy App",
        "description": "Copy an app within a project.",
        "operationId": "mittwald_app_copy",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "description": {
                    "type": "string",
                    "description": "Set a description for the new app installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "installationId",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_copy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_create_node": {
      "post": {
        "summary": "Create Node.js App",
        "description": "Create a Node.js app.",
        "operationId": "mittwald_app_create_node",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the new app"
                  },
                  "entrypoint": {
                    "type": "string",
                    "description": "Entrypoint file for the Node.js application"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the app to be ready"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Timeout for the wait operation in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_create_node",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_create_php": {
      "post": {
        "summary": "Create PHP App",
        "description": "Create a PHP app.",
        "operationId": "mittwald_app_create_php",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the new app"
                  },
                  "documentRoot": {
                    "type": "string",
                    "description": "Document root directory for the PHP application"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the app to be ready"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Timeout for the wait operation in seconds"
                  }
                },
                "required": [
                  "projectId",
                  "documentRoot"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_create_php",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_create_php_worker": {
      "post": {
        "summary": "Create PHP Worker App",
        "description": "Create a PHP worker app.",
        "operationId": "mittwald_app_create_php_worker",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the new app"
                  },
                  "entrypoint": {
                    "type": "string",
                    "description": "Entrypoint file for the PHP worker application"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the app to be ready"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Timeout for the wait operation in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_create_php_worker",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_create_python": {
      "post": {
        "summary": "Create Python App",
        "description": "Create a Python app.",
        "operationId": "mittwald_app_create_python",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the new app"
                  },
                  "entrypoint": {
                    "type": "string",
                    "description": "Entrypoint file for the Python application"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the app to be ready"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Timeout for the wait operation in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_create_python",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_create_static": {
      "post": {
        "summary": "Create Static App",
        "description": "Create a static app.",
        "operationId": "mittwald_app_create_static",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the new app"
                  },
                  "documentRoot": {
                    "type": "string",
                    "description": "Document root directory for the static application"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the app to be ready"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Timeout for the wait operation in seconds"
                  }
                },
                "required": [
                  "projectId",
                  "documentRoot"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_create_static",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_dependency_list": {
      "post": {
        "summary": "List App Dependencies",
        "description": "Get all available system software dependencies and optionally filter by app type or installation.",
        "operationId": "mittwald_app_dependency_list",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appType": {
                    "type": "string",
                    "description": "Optional filter by application type tag (for example 'wordpress', 'nodejs', 'php')."
                  },
                  "appId": {
                    "type": "string",
                    "description": "Optional app installation ID (format: a-XXXXX) used to enrich results with current versions."
                  },
                  "includeMetadata": {
                    "type": "boolean",
                    "description": "Include metadata returned by the CLI in the response payload."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_dependency_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_dependency_update": {
      "post": {
        "summary": "Update App Dependencies",
        "description": "Update one or more system software dependencies for an app installation.",
        "operationId": "mittwald_app_dependency_update",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string",
                    "description": "App installation ID (format: a-XXXXX)."
                  },
                  "dependency": {
                    "type": "string",
                    "description": "Name of a dependency to update (e.g., php, node). Use together with the version field."
                  },
                  "version": {
                    "type": "string",
                    "description": "Target version or version range for the dependency specified in the dependency field."
                  },
                  "updates": {
                    "type": "array",
                    "description": "List of dependency updates to apply in one request."
                  },
                  "updatePolicy": {
                    "type": "string",
                    "description": "Update policy to apply after updating the dependency set.",
                    "enum": [
                      "none",
                      "inheritedFromApp",
                      "patchLevel",
                      "all"
                    ]
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress progress output and only return a summary from the CLI."
                  }
                },
                "required": [
                  "appId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_dependency_update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_dependency_versions": {
      "post": {
        "summary": "List Dependency Versions",
        "description": "Fetch available versions for a specific system software dependency.",
        "operationId": "mittwald_app_dependency_versions",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dependency": {
                    "type": "string",
                    "description": "Name of the dependency to retrieve versions for (e.g., php, node, composer)."
                  },
                  "versionRange": {
                    "type": "string",
                    "description": "Optional semver constraint to filter the returned versions."
                  },
                  "recommendedOnly": {
                    "type": "boolean",
                    "description": "Return only versions flagged as recommended."
                  },
                  "includeDependencies": {
                    "type": "boolean",
                    "description": "Include nested dependency metadata in the response payload."
                  }
                },
                "required": [
                  "dependency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_dependency_versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_download": {
      "post": {
        "summary": "Download App Files",
        "description": "Download the filesystem of an app within a project to your local machine.",
        "operationId": "mittwald_app_download",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "target": {
                    "type": "string",
                    "description": "Target directory to download the app installation to"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "sshUser": {
                    "type": "string",
                    "description": "Override the SSH user to connect with; if omitted, your own user will be used"
                  },
                  "sshIdentityFile": {
                    "type": "string",
                    "description": "The SSH identity file (private key) to use for public key authentication"
                  },
                  "exclude": {
                    "type": "array",
                    "description": "Exclude files matching the given patterns"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Do not actually download the app installation"
                  },
                  "delete": {
                    "type": "boolean",
                    "description": "Delete local files that are not present on the server"
                  },
                  "remoteSubDirectory": {
                    "type": "string",
                    "description": "Specify a sub-directory within the app installation to download"
                  }
                },
                "required": [
                  "installationId",
                  "target"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_download",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_get": {
      "post": {
        "summary": "Get App Details",
        "description": "Get details about an app installation.",
        "operationId": "mittwald_app_get",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "txt",
                      "json",
                      "yaml"
                    ]
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_get",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_contao": {
      "post": {
        "summary": "Install Contao",
        "description": "Install Contao application.",
        "operationId": "mittwald_app_install_contao",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Contao version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "adminFirstname": {
                    "type": "string",
                    "description": "Administrator first name"
                  },
                  "adminLastname": {
                    "type": "string",
                    "description": "Administrator last name"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Contao installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_contao",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_joomla": {
      "post": {
        "summary": "Install Joomla",
        "description": "Install Joomla application.",
        "operationId": "mittwald_app_install_joomla",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Joomla version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "adminFirstname": {
                    "type": "string",
                    "description": "Administrator first name"
                  },
                  "adminLastname": {
                    "type": "string",
                    "description": "Administrator last name"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Joomla installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_joomla",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_matomo": {
      "post": {
        "summary": "Install Matomo",
        "description": "Install Matomo application.",
        "operationId": "mittwald_app_install_matomo",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Matomo version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Matomo installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_matomo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_nextcloud": {
      "post": {
        "summary": "Install Nextcloud",
        "description": "Install Nextcloud application.",
        "operationId": "mittwald_app_install_nextcloud",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Nextcloud version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Nextcloud installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_nextcloud",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_shopware5": {
      "post": {
        "summary": "Install Shopware 5",
        "description": "Install Shopware 5 application.",
        "operationId": "mittwald_app_install_shopware5",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Shopware 5 version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "adminFirstname": {
                    "type": "string",
                    "description": "Administrator first name"
                  },
                  "adminLastname": {
                    "type": "string",
                    "description": "Administrator last name"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Shopware 5 installation"
                  },
                  "shopEmail": {
                    "type": "string",
                    "description": "Shop email address"
                  },
                  "shopLang": {
                    "type": "string",
                    "description": "Shop language"
                  },
                  "shopCurrency": {
                    "type": "string",
                    "description": "Shop currency"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_shopware5",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_shopware6": {
      "post": {
        "summary": "Install Shopware 6",
        "description": "Install Shopware 6 application.",
        "operationId": "mittwald_app_install_shopware6",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "Shopware 6 version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "adminFirstname": {
                    "type": "string",
                    "description": "Administrator first name"
                  },
                  "adminLastname": {
                    "type": "string",
                    "description": "Administrator last name"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the Shopware 6 installation"
                  },
                  "shopEmail": {
                    "type": "string",
                    "description": "Shop email address"
                  },
                  "shopLang": {
                    "type": "string",
                    "description": "Shop language"
                  },
                  "shopCurrency": {
                    "type": "string",
                    "description": "Shop currency"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_shopware6",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_typo3": {
      "post": {
        "summary": "Install TYPO3",
        "description": "Install TYPO3 application.",
        "operationId": "mittwald_app_install_typo3",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "TYPO3 version to install (defaults to latest if not specified)"
                  },
                  "installMode": {
                    "type": "string",
                    "description": "Installation mode (composer or symlink, defaults to composer if not specified)",
                    "enum": [
                      "composer",
                      "symlink"
                    ]
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the TYPO3 installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_typo3",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_install_wordpress": {
      "post": {
        "summary": "Install WordPress",
        "description": "Install WordPress application.",
        "operationId": "mittwald_app_install_wordpress",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  },
                  "version": {
                    "type": "string",
                    "description": "WordPress version to install (defaults to latest if not specified)"
                  },
                  "host": {
                    "type": "string",
                    "description": "Host to configure the app with"
                  },
                  "adminUser": {
                    "type": "string",
                    "description": "Administrator username"
                  },
                  "adminEmail": {
                    "type": "string",
                    "description": "Administrator email"
                  },
                  "adminPass": {
                    "type": "string",
                    "description": "Administrator password"
                  },
                  "siteTitle": {
                    "type": "string",
                    "description": "Title for the WordPress installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Only output the installation ID"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for installation to complete"
                  },
                  "waitTimeout": {
                    "type": "number",
                    "description": "Maximum time to wait in seconds"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_install_wordpress",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_list": {
      "post": {
        "summary": "List Apps",
        "description": "List installed apps in a project.",
        "operationId": "mittwald_app_list",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "txt",
                      "json",
                      "yaml",
                      "csv",
                      "tsv"
                    ]
                  },
                  "extended": {
                    "type": "boolean",
                    "description": "Show extended information"
                  },
                  "noHeader": {
                    "type": "boolean",
                    "description": "Hide table header"
                  },
                  "noTruncate": {
                    "type": "boolean",
                    "description": "Do not truncate output (only relevant for txt output)"
                  },
                  "noRelativeDates": {
                    "type": "boolean",
                    "description": "Show dates in absolute format, not relative (only relevant for txt output)"
                  },
                  "csvSeparator": {
                    "type": "string",
                    "description": "Separator for CSV output (only relevant for CSV output)",
                    "enum": [
                      ",",
                      ";"
                    ]
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_list_upgrade_candidates": {
      "post": {
        "summary": "List App Upgrade Candidates",
        "description": "List upgrade candidates for an app installation.",
        "operationId": "mittwald_app_list_upgrade_candidates",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "txt",
                      "json",
                      "yaml",
                      "csv",
                      "tsv"
                    ]
                  },
                  "extended": {
                    "type": "boolean",
                    "description": "Show extended information"
                  },
                  "noHeader": {
                    "type": "boolean",
                    "description": "Hide table header"
                  },
                  "noTruncate": {
                    "type": "boolean",
                    "description": "Do not truncate output (only relevant for txt output)"
                  },
                  "noRelativeDates": {
                    "type": "boolean",
                    "description": "Show dates in absolute format, not relative (only relevant for txt output)"
                  },
                  "csvSeparator": {
                    "type": "string",
                    "description": "Separator for CSV output (only relevant for CSV output)",
                    "enum": [
                      ",",
                      ";"
                    ]
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_list_upgrade_candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_open": {
      "post": {
        "summary": "Open App in Browser",
        "description": "Open an app installation in the browser.",
        "operationId": "mittwald_app_open",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_open",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_ssh": {
      "post": {
        "summary": "Connect to App via SSH",
        "description": "Connect to an app via SSH.",
        "operationId": "mittwald_app_ssh",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "sshUser": {
                    "type": "string",
                    "description": "Override the SSH user to connect with; if omitted, your own user will be used"
                  },
                  "sshIdentityFile": {
                    "type": "string",
                    "description": "The SSH identity file (private key) to use for public key authentication"
                  },
                  "cd": {
                    "type": "boolean",
                    "description": "Change to installation path after connecting"
                  },
                  "info": {
                    "type": "boolean",
                    "description": "Only print connection information, without actually connecting"
                  },
                  "test": {
                    "type": "boolean",
                    "description": "Test connection and exit"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_ssh",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_uninstall": {
      "post": {
        "summary": "Uninstall App",
        "description": "Uninstall an app.",
        "operationId": "mittwald_app_uninstall",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Do not ask for confirmation"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_uninstall",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_update": {
      "post": {
        "summary": "Update App Properties",
        "description": "Update properties of an app installation. (use upgrade to update the app version)",
        "operationId": "mittwald_app_update",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "description": {
                    "type": "string",
                    "description": "Update the description of the app installation"
                  },
                  "entrypoint": {
                    "type": "string",
                    "description": "Update the entrypoint of the app installation (Python and Node.js only)"
                  },
                  "documentRoot": {
                    "type": "string",
                    "description": "Update the document root of the app installation"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_upgrade": {
      "post": {
        "summary": "Upgrade App Version",
        "description": "Upgrade app installation to target version.",
        "operationId": "mittwald_app_upgrade",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "targetVersion": {
                    "type": "string",
                    "description": "Target version to upgrade app to; if omitted, target version will be prompted interactively"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Do not ask for confirmation"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the resource to be ready"
                  },
                  "waitTimeout": {
                    "type": "string",
                    "description": "The duration to wait for the resource to be ready (common units like ms, s, m are accepted)"
                  }
                },
                "required": [
                  "installationId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_upgrade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_upload": {
      "post": {
        "summary": "Upload App Files",
        "description": "Upload the filesystem of an app to a project.",
        "operationId": "mittwald_app_upload",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source directory from which to upload the app installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "sshUser": {
                    "type": "string",
                    "description": "Override the SSH user to connect with; if omitted, your own user will be used"
                  },
                  "sshIdentityFile": {
                    "type": "string",
                    "description": "The SSH identity file (private key) to use for public key authentication"
                  },
                  "exclude": {
                    "type": "array",
                    "description": "Exclude files matching the given patterns"
                  },
                  "dryRun": {
                    "type": "boolean",
                    "description": "Do not actually upload the app installation"
                  },
                  "delete": {
                    "type": "boolean",
                    "description": "Delete remote files that are not present locally"
                  },
                  "remoteSubDirectory": {
                    "type": "string",
                    "description": "Specify a sub-directory within the app installation to upload"
[...]
