{
  "openapi": "3.0.0",
  "info": {
    "title": "Mittwald MCP Tools API",
    "description": "MCP tool definitions and specifications for Mittwald hosting platform",
    "version": "1.0.0",
    "contact": {
      "name": "Mittwald Support",
      "url": "https://mittwald.de",
      "email": "support@mittwald.de"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.mittwald.de",
      "description": "Mittwald API Server"
    }
  ],
  "paths": {
    "/tools/mittwald_app_copy": {
      "post": {
        "summary": "Copy App",
        "description": "Copy an app within a project.",
        "operationId": "mittwald_app_copy",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "description": {
                    "type": "string",
                    "description": "Set a description for the new app installation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "installationId",
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_copy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_get": {
      "post": {
        "summary": "Get App Details",
        "description": "Get details about an app installation.",
        "operationId": "mittwald_app_get",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format",
                    "enum": [
                      "txt",
                      "json",
                      "yaml"
                    ]
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_get",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_list": {
      "post": {
        "summary": "List Apps",
        "description": "List installed apps in a project.",
        "operationId": "mittwald_app_list",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_list_upgrade_candidates": {
      "post": {
        "summary": "List App Upgrade Candidates",
        "description": "List upgrade candidates for an app installation.",
        "operationId": "mittwald_app_list_upgrade_candidates",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_list_upgrade_candidates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_ssh": {
      "post": {
        "summary": "Get App SSH Connection Data",
        "description": "Get the SSH connection data (host, user, document root) for an app installation, plus a ready-to-run ssh command. This tool does not open a session itself - run the returned command locally to connect.",
        "operationId": "mittwald_app_ssh",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation"
                  },
                  "sshUser": {
                    "type": "string",
                    "description": "Override the SSH user to connect with; if omitted, your own mStudio user will be used"
                  },
                  "sshIdentityFile": {
                    "type": "string",
                    "description": "The SSH identity file (private key) to include in the returned ssh command"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_ssh",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_uninstall": {
      "post": {
        "summary": "Uninstall App",
        "description": "Uninstall an app.",
        "operationId": "mittwald_app_uninstall",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Do not ask for confirmation"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_uninstall",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_update": {
      "post": {
        "summary": "Update App Properties",
        "description": "Update properties of an app installation. (use upgrade to update the app version)",
        "operationId": "mittwald_app_update",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "description": {
                    "type": "string",
                    "description": "Update the description of the app installation"
                  },
                  "entrypoint": {
                    "type": "string",
                    "description": "Update the entrypoint of the app installation (Python and Node.js only)"
                  },
                  "documentRoot": {
                    "type": "string",
                    "description": "Update the document root of the app installation"
                  }
                },
                "required": [
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_upgrade": {
      "post": {
        "summary": "Upgrade App Version",
        "description": "Upgrade app installation to target version.",
        "operationId": "mittwald_app_upgrade",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "targetVersion": {
                    "type": "string",
                    "description": "Target version to upgrade app to; if omitted, target version will be prompted interactively"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Do not ask for confirmation"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the resource to be ready"
                  },
                  "waitTimeout": {
                    "type": "string",
                    "description": "The duration to wait for the resource to be ready (common units like ms, s, m are accepted)"
                  }
                },
                "required": [
                  "installationId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_upgrade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_app_versions": {
      "post": {
        "summary": "List App Versions",
        "description": "List supported Apps and Versions.",
        "operationId": "mittwald_app_versions",
        "tags": [
          "app"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "app": {
                    "type": "string",
                    "description": "Name of specific app to get versions for"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_app_versions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_create": {
      "post": {
        "summary": "Create Backup",
        "description": "Create a new backup",
        "operationId": "mittwald_backup_create",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "expires": {
                    "type": "string",
                    "description": "Set an expiration date for the backup (format: 30d, 1y, 30m etc.)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Set a description for the backup"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "wait": {
                    "type": "boolean",
                    "description": "Wait for the backup to be completed"
                  },
                  "waitTimeout": {
                    "type": "string",
                    "description": "Timeout for the wait operation (default: 15m)"
                  }
                },
                "required": [
                  "projectId",
                  "expires"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_create",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_delete": {
      "post": {
        "summary": "Delete Backup",
        "description": "Delete a backup",
        "operationId": "mittwald_backup_delete",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backupId": {
                    "type": "string",
                    "description": "ID or short ID of a backup"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Must be set to true to confirm deletion (DESTRUCTIVE OPERATION - cannot be undone)."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Skip confirmation prompt"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "backupId",
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_delete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_download": {
      "post": {
        "summary": "Get Backup Download URL",
        "description": "Get the download URL for a backup, requesting an export first if none exists yet. This tool does not download anything itself - fetch the returned URL locally. Exports are prepared asynchronously; if no URL is returned yet, call this tool again in a few seconds.",
        "operationId": "mittwald_backup_download",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backupId": {
                    "type": "string",
                    "description": "ID or short ID of a backup"
                  },
                  "format": {
                    "type": "string",
                    "description": "Archive format to export the backup in (default: tar)",
                    "enum": [
                      "tar",
                      "zip"
                    ]
                  },
                  "password": {
                    "type": "string",
                    "description": "Password to protect the archive with (only applied when a new export is created)"
                  },
                  "recreate": {
                    "type": "boolean",
                    "description": "Request a fresh export even if a usable one already exists"
                  }
                },
                "required": [
                  "backupId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_download",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_get": {
      "post": {
        "summary": "Get Backup Details",
        "description": "Get details of a backup",
        "operationId": "mittwald_backup_get",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backupId": {
                    "type": "string",
                    "description": "ID or short ID of a backup"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format (txt, json, yaml)",
                    "enum": [
                      "txt",
                      "json",
                      "yaml"
                    ]
                  }
                },
                "required": [
                  "backupId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_get",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_list": {
      "post": {
        "summary": "List Backups",
        "description": "List backups",
        "operationId": "mittwald_backup_list",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_schedule_create": {
      "post": {
        "summary": "Create Backup Schedule",
        "description": "Create a backup schedule.",
        "operationId": "mittwald_backup_schedule_create",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this argument is optional if a default project is set in the context"
                  },
                  "schedule": {
                    "type": "string",
                    "description": "Cron expression for the backup schedule"
                  },
                  "ttl": {
                    "type": "string",
                    "description": "Time-to-live for backups (7d - 400d)"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the backup schedule"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "projectId",
                  "schedule",
                  "ttl"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_schedule_create",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_schedule_delete": {
      "post": {
        "summary": "Delete Backup Schedule",
        "description": "Delete a backup schedule.",
        "operationId": "mittwald_backup_schedule_delete",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backupScheduleId": {
                    "type": "string",
                    "description": "ID or short ID of a backup schedule"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Must be set to true to confirm deletion (DESTRUCTIVE OPERATION - cannot be undone)."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Skip confirmation prompt"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "backupScheduleId",
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_schedule_delete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_schedule_list": {
      "post": {
        "summary": "List Backup Schedules",
        "description": "List backup schedules.",
        "operationId": "mittwald_backup_schedule_list",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_schedule_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_backup_schedule_update": {
      "post": {
        "summary": "Update Backup Schedule",
        "description": "Update a backup schedule.",
        "operationId": "mittwald_backup_schedule_update",
        "tags": [
          "backup"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "backupScheduleId": {
                    "type": "string",
                    "description": "ID or short ID of a backup schedule"
                  },
                  "description": {
                    "type": "string",
                    "description": "Description for the backup schedule"
                  },
                  "schedule": {
                    "type": "string",
                    "description": "Cron expression for the backup schedule"
                  },
                  "ttl": {
                    "type": "string",
                    "description": "Time-to-live for backups (7d - 400d)"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "backupScheduleId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_backup_schedule_update",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_certificate_list": {
      "post": {
        "summary": "List SSL Certificates",
        "description": "List SSL/TLS certificates available for a domain.",
        "operationId": "mittwald_certificate_list",
        "tags": [
          "certificate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain name to list certificates for"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format (internally converted to JSON for processing)",
                    "enum": [
                      "txt",
                      "json",
                      "yaml",
                      "csv",
                      "tsv"
                    ]
                  }
                },
                "required": [
                  "projectId",
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_certificate_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_certificate_request": {
      "post": {
        "summary": "Request SSL Certificate",
        "description": "Request a new SSL/TLS certificate for a domain using Let's Encrypt.",
        "operationId": "mittwald_certificate_request",
        "tags": [
          "certificate"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project; this flag is optional if a default project is set in the context"
                  },
                  "domain": {
                    "type": "string",
                    "description": "Domain name to request a certificate for"
                  },
                  "autoRenew": {
                    "type": "boolean",
                    "description": "Enable automatic renewal of the certificate (default: true)"
                  },
                  "subdomains": {
                    "type": "array",
                    "description": "Additional subdomains to include in the certificate (e.g., www, api)"
                  }
                },
                "required": [
                  "projectId",
                  "domain"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_certificate_request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_delete": {
      "post": {
        "summary": "Delete Container",
        "description": "Delete a container.",
        "operationId": "mittwald_container_delete",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "containerId": {
                    "type": "string",
                    "description": "ID or short ID of the container to delete"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project (optional if default project is set in context)"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Must be set to true to confirm deletion (DESTRUCTIVE OPERATION - cannot be undone)."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Do not ask for confirmation"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "containerId",
                  "projectId",
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_delete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_list": {
      "post": {
        "summary": "List Containers",
        "description": "List containers belonging to a project.",
        "operationId": "mittwald_container_list",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project"
                  }
                },
                "required": [
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_logs": {
      "post": {
        "summary": "View Container Logs",
        "description": "Display logs of a specific container. Use mittwald_container_list to find the containerId for your container.",
        "operationId": "mittwald_container_logs",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "containerId": {
                    "type": "string",
                    "description": "ID of the container to get logs for"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID of the project containing the container"
                  },
                  "tail": {
                    "type": "number",
                    "description": "Number of most recent log lines to retrieve (optional, returns all logs if not specified)"
                  }
                },
                "required": [
                  "containerId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_restart": {
      "post": {
        "summary": "Restart Container",
        "description": "Restart a container.",
        "operationId": "mittwald_container_restart",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "containerId": {
                    "type": "string",
                    "description": "ID or short ID of the container to restart"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project (optional if default project is set in context)"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "containerId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_restart",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_start": {
      "post": {
        "summary": "Start Container",
        "description": "Start a stopped container.",
        "operationId": "mittwald_container_start",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "containerId": {
                    "type": "string",
                    "description": "ID or short ID of the container to start"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project (optional if default project is set in context)"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "containerId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_start",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_container_stop": {
      "post": {
        "summary": "Stop Container",
        "description": "Stop a running container.",
        "operationId": "mittwald_container_stop",
        "tags": [
          "container"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "containerId": {
                    "type": "string",
                    "description": "ID or short ID of the container to stop"
                  },
                  "projectId": {
                    "type": "string",
                    "description": "ID or short ID of a project (optional if default project is set in context)"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "containerId",
                  "projectId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_container_stop",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_create": {
      "post": {
        "summary": "Create Cron Job",
        "description": "Create a cronjob.",
        "operationId": "mittwald_cronjob_create",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "Description for the cronjob"
                  },
                  "interval": {
                    "type": "string",
                    "description": "Cron expression for the interval"
                  },
                  "installationId": {
                    "type": "string",
                    "description": "ID or short ID of an app installation; this argument is optional if a default app installation is set in the context"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "email": {
                    "type": "string",
                    "description": "Email address to send cronjob output to"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL to call for the cronjob"
                  },
                  "command": {
                    "type": "string",
                    "description": "Command to execute for the cronjob"
                  },
                  "interpreter": {
                    "type": "string",
                    "description": "Interpreter to use for the command",
                    "enum": [
                      "bash",
                      "php"
                    ]
                  },
                  "disable": {
                    "type": "boolean",
                    "description": "Create the cronjob in disabled state"
                  },
                  "timeout": {
                    "type": "string",
                    "description": "Timeout for the cronjob execution"
                  }
                },
                "required": [
                  "description",
                  "interval",
                  "installationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_create",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_delete": {
      "post": {
        "summary": "Delete Cron Job",
        "description": "Delete a cronjob.",
        "operationId": "mittwald_cronjob_delete",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cronjobId": {
                    "type": "string",
                    "description": "ID or short ID of a cronjob"
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Must be set to true to confirm deletion (DESTRUCTIVE OPERATION - cannot be undone)."
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Skip confirmation prompt"
                  }
                },
                "required": [
                  "cronjobId",
                  "confirm"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_delete",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_execute": {
      "post": {
        "summary": "Execute Cron Job",
        "description": "Execute a cronjob.",
        "operationId": "mittwald_cronjob_execute",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cronjobId": {
                    "type": "string",
                    "description": "ID or short ID of a cronjob"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "cronjobId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_execute",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_execution_abort": {
      "post": {
        "summary": "Abort Cron Job Execution",
        "description": "Abort a cronjob execution.",
        "operationId": "mittwald_cronjob_execution_abort",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cronjobId": {
                    "type": "string",
                    "description": "ID or short ID of a cronjob"
                  },
                  "executionId": {
                    "type": "string",
                    "description": "ID of the execution to abort"
                  },
                  "quiet": {
                    "type": "boolean",
                    "description": "Suppress process output and only display a machine-readable summary"
                  }
                },
                "required": [
                  "cronjobId",
                  "executionId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_execution_abort",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_execution_get": {
      "post": {
        "summary": "Get Cron Job Execution Details",
        "description": "Get details of a cronjob execution.",
        "operationId": "mittwald_cronjob_execution_get",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cronjobId": {
                    "type": "string",
                    "description": "ID or short ID of a cronjob"
                  },
                  "executionId": {
                    "type": "string",
                    "description": "ID of the execution to get details for"
                  },
                  "output": {
                    "type": "string",
                    "description": "Output format (txt, json, yaml)",
                    "enum": [
                      "txt",
                      "json",
                      "yaml"
                    ]
                  }
                },
                "required": [
                  "cronjobId",
                  "executionId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_execution_get",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_execution_list": {
      "post": {
        "summary": "List Cron Job Executions",
        "description": "List cronjob executions.",
        "operationId": "mittwald_cronjob_execution_list",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cronjobId": {
                    "type": "string",
                    "description": "ID of the cronjob"
                  }
                },
                "required": [
                  "cronjobId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response from mittwald_cronjob_execution_list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success",
                        "error"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {},
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "durationMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Tool not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tools/mittwald_cronjob_get": {
      "post": {
        "summary": "Get Cron Job Details",
        "description": "Get details of a cronjob.",
        "operationId": "mittwald_cronjob_get",
        "tags": [
          "cronjob"
        ],
        "requestBody": {
          "required": true,
          "content": {
[...]
